<footer>
  <div class="footer">
    <div class="row">
      <div class="col-6">
        <div class="bottom">
          <a id="footerLogo" [routerLink]="['/']">
            <img
              src="assets/images/bookmark.png"
              alt="clusterfu_bookmark"
              id="bookmark_logo"
            />
            <h1 class="inline">cluster<span class="red">fu</span></h1>
          </a>
        </div>
      </div>
      <div class="col-6">
        <ul class="nav flex-column inline">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">register</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/help']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >help</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bookmarks']">bookmarks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
